:root{
    --cinza-escuro: #121212;
    --card-cor: #1e1e1e;
    --branco: #e0e0e0;
    --verde-claro: #00ff88;
    --cinza-claro: #a0a0a0;
    --largura-max: 750px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: var(--cinza-escuro);
    color: var(--branco);
    line-height: 1.5;
    padding-bottom: 50px;
}
.container {
    max-width: var(--largura-max);
    margin: 0 auto; 
    padding: 0 20px;
}
/* HEADER CONFIG */
header{
    padding: 40px 0;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: -1;
}
.logo span{
    color: var(--verde-claro);
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
nav a {
    color: var(--cinza-claro);
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.4s;
}
nav a:hover {
    color: var(--verde-claro);
}

/* Content */
.texto-sobre h1{
    color: var(--verde-claro);
}

/*Skills*/
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.skill{
    color: var(--verde-claro);
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.90rem;
    font-weight: 600;
    border: 3px solid rgba(0, 255, 136, 0.2);
}